{% extends "layout/base.html.twig" %}

{% block title %}AppBundle:Admin:index{% endblock %}

{% block body %}
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                {#<th class="mdl-data-table__cell--non-numeric">Location</th>#}
                <th class="mdl-data-table__cell--non-numeric">Created At</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ application.name }}</td>
                    {#<td class="mdl-data-table__cell--non-numeric">{{ application.location }}</td>#}
                    <td class="mdl-data-table__cell--non-numeric">{{ application.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ path('admin_application', { id: application.id }) }}" class="mdl-button mdl-js-button mdl-button--icon">
                            <i class="material-icons">search</i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">There is no applications to show.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
