<span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--red mdl-color-text--white">
        <i class="material-icons">priority_high</i>
    </span>
    <span class="mdl-chip__text">{{ message }}</span>
</span>