{% extends "layout/base.html.twig" %}

{% block title %}AppBundle:Security:login{% endblock %}

{% block body %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <form action="{{ path('login') }}" method="post">
            <div class="mdl-card__supporting-text">
                <h4>Restrict area</h4>

                {% if error %}
                    <span class="mdl-chip mdl-chip--contact">
                        <span class="mdl-chip__contact mdl-color--red mdl-color-text--white">
                            <i class="material-icons">priority_high</i>
                        </span>
                        <span class="mdl-chip__text">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </span>
                {% endif %}

                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="mdl-textfield__input" />
                            <label for="username" class="mdl-textfield__label">Username:</label>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="password" id="password" name="_password" class="mdl-textfield__input" />
                            <label for="password" class="mdl-textfield__label">Password:</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-card__actions">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">login</button>
            </div>
        </form>
    </div>
{% endblock %}
